@charset "UTF-8";

header {
    padding: 0.2rem;
    background-color: rgb(174, 220, 255);
    color: rgb(76, 76, 76);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

img  {
    max-width: 100%;
    height: auto;
    display: block;
}

main > div {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

main > div div {
    width: 40%;
}

footer {
    background-color: rgb(60, 80, 168);
    color: #d0f5ff;
    text-align: center;
    padding: 10px;
    margin-top: 60px;
}

@media (max-witdth: 500px) {
    main div{
    flex-direction: column;
    align-items: center;
}}
